$bgMain:#272b30;
$bgHighlight:#1c1e22;
$fontC1:#C8C8C8;
$fontC2:purple;
$fSty: 'Open Sans', sans-serif;
$yellow: #e8a012;


body{
  background-color:$bgMain;
  color:$fontC1;
  font-family:$fSty;
  margin: 0;
  padding: 0;
}
#mainWrapper{
  width:60%;
  margin:0 20% 0 20%;
  text-align:center;
}

.animateWrap {
  margin: 0;
  padding: 0;
}

.dit {
  color: $yellow;
  font-size: 2em;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: inline-block
}

.ditAnimate {
  font-size: 8em;
  color: $yellow;
  display: inline-block;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  -webkit-animation:  tapTap 6.5s infinite;
  -moz-animation: tapTap  6.5s infinite;
  -o-animation: tapTap  6.5s infinite;
  animation: tapTap 6.5s infinite;
}
/*
.ditAnimate2 {
  font-size: 8em;
  color:\$yellow;
  display: inline-block;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  -webkit-animation:  tap 2s 2s infinite;
  -moz-animation: tap  2s 2s infinite;
  -o-animation: tap  2s 2s infinite;
  animation: tap 2s 2s infinite;
}
.ditAnimate3 {
  font-size: 8em;
  color: \$yellow;
  display: inline-block;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  -webkit-animation:  tap 2s 2.5s infinite;
  -moz-animation: tap  2s 2.5s infinite;
  -o-animation: tap  2s 2.5s infinite;
  animation: tap 2s 2.5s infinite;
} */
.dah{
  font-size: 2em;
  color: $yellow;
  display: inline-block;
  margin: 0 0 10px 10px;
}
.dahAnimate {
  vertical-align: top;
  font-size: 8em;
  display: inline-block;
  color: $yellow;
  margin: 0 0 0 0;
  -webkit-animation:  tap 6.5s infinite;
  -moz-animation: tap  6.5s infinite;
  -o-animation: tap  6.5s infinite;
  animation: tap 6.5s infinite;
}

.text {
  display: inline-block;
  margin: 0;
}

#splashWrapper{
  transition:all linear 0.2s;
  text-align: center;
  margin: 0 0 0 0;
}

h2{
  color:$fontC1;
  font-family:$fSty;
  margin: 0;
  font-size:11em;
  text-shadow: 0px 1px 2px grey;
  transition:all linear 0.2s;
}

h3 {
  color: #89bad9;
}

h4{
  color:$yellow;
  font-family:$fSty;
  margin: 0 0 0 0;
  font-size:500px;
  text-shadow: 0px 1px 2px grey;
  transition:all linear 0.2s;
}
h5{
  color: #727070;
  text-align: center;
  font-size: 15px;
}
#showInstructions{
  margin-top:0;
  color: #727070;
  text-align: center;
  font-size: 25px;
  font-weight:bold;
  display:block;
}
p{
  font-size:1.5em;
  padding-left:1em;
  padding-right:1em;
  padding-top:1em;
  border-top:4px solid $fontC1;
}
.makeInline{
  display:inline;
}
.makeBlockLeft{
  display:block;
  text-align:left;
}
.removeBottomMargin{
  margin-bottom:0;
}
.addBottomMargin{
  margin-bottom:1.25em;
}
#downArrow{
  cursor:pointer;
  margin-bottom:25px;
}
#upArrow{
  cursor:pointer;
}
.fa-5x {
  font-size: 2em;
  color: #c8c8c8;
}
#functionBar{
  width:80%;
  margin:auto;
  display:flex;
  justify-content: space-around;
  padding:1em 0;
  button{
    padding: 0.5em 0;
    width:30%;
    border:none;
    box-shadow:1px 1px $fontC1;
    color:white;
    font-size:1.1em;
    border-radius:1px;
    &:focus{
      outline:none;
    }
    &:hover{
      transform:scale(1.1,1.1);
      cursor:pointer;
    }
  }
  button:nth-child(1){
    background-color:#89bad9;
  }
  button:nth-child(2){
    background-color: $yellow;
  }
  button:nth-child(3){
    background-color:#D9534F;
    &:disabled{
      background-color:#c88c8c;
      color:$fontC1;
      &:hover{
        transform:scale(1,1);
      }
    }
  }
}
textarea{
  width:80%;
  height:150px;
  font-weight:bold;
  resize:none;
  font-size:2em;
  color:$fontC2;
  &:focus{
    outline:none;
  }
}
#inputEnglish{
  margin-top:3em;
}
#marquee{
  width:80%;
  height:150px;
  margin:auto;
  line-height:140px;
  font-size:4em;
  font-weight:bold;
  display:block;
  color:$yellow;
  background-color:black;
  overflow:hidden;
  white-space:nowrap;
}
.doMarquee{
  -webkit-animation:  goMarquee 8s linear;
  -moz-animation: goMarquee 8s linear;
  -o-animation: goMarquee  8s linear;
  animation: goMarquee 8s linear;
  color:green;
}
footer {
  height: 100px;
  width: 100%;
  margin: 100px 0 0 0;
  a{
    text-decoration: none;
  }
}

::-webkit-input-placeholder {
    color:$fontC1;
    line-height:140px;
    font-size:2em;
    text-align:center;
}

/* animation info */
/* @-webkit-keyframes tap {
  0%  {opacity: 0.0;}
  100% {opacity: 1.0;}
} */
@-webkit-keyframes tap {
  0%  {opacity: 0.0;}
  20%  {opacity: 0.0;}
  25%  {opacity: 1.0;}
  30% {opacity: 0.0;}
  45% {opacity: 0.0;}
  50% {opacity: 1.0;}
  55% {opacity: 0.0;}
  85%  {opacity: 0.0;}
  90% {opacity: 1.0;}
  95% {opacity: 0.0;}
  100% {opacity: 0.0;}
}
@-webkit-keyframes tapTap {
  0%  {opacity: 0.0;}
  5%  {opacity: 0.0;}
  8%  {opacity: 1.0;}
  10% {opacity: 0.0;}
  30% {opacity: 0.0;}
  33% {opacity: 1.0;}
  35% {opacity: 0.0;}
  65%  {opacity: 0.0;}
  68%  {opacity: 1.0;}
  70% {opacity: 0.0;}
  80%  {opacity: 0.0;}
  83%  {opacity: 1.0;}
  85%  {opacity: 0.0;}
  95% {opacity: 0.0;}
  98% {opacity: 1.0;}
  100% {opacity: 0.0;}
}
@-webkit-keyframes goMarquee {
  0%  {text-indent:100%;}
  100% {text-indent:-300%;}
}
